<div class="panel panel-default">
	<div class="panel-heading" ng-hide="creation">Détails {{ personne.firstName }} {{ personne.lastName }}</div>
	<div class="panel-heading" ng-show="creation">Création d'indisponibilité</div>
	<div class="panel-body">
		<form novalidate name="form" ng-submit="save()">
			<div class="form-group">
				<label>Date début</label>
				<div class="input-group">
					<input type="text" class="form-control" datepicker-popup="dd-MM-yyyy"
                           is-open="pickerDateDebut" ng-model="indispo.start"
                           name="dateDebut" required />	
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openDatePicker(1)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
                <span class="text-danger" ng-show="form.dateDebut.$error.required">Veuillez préciser une date.</span>
                <span class="text-danger" ng-show="!form.dateDebut.$valid && !form.dateDebut.$error.required">Veuillez préciser une date correcte.</span>
                <span class="text-danger" ng-show="indispo.start < today">La date de début ne peut pas être antérieur à aujourd'hui.</span>
			</div>
			<div class="form-group">
				<label>Date fin</label>
				<div class="input-group">
					<input type="text" class="form-control" datepicker-popup="dd-MM-yyyy"
                           is-open="pickerDateFin" ng-model="indispo.end"
                           name="dateFin" required />	
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openDatePicker(2)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
                <span class="text-danger" ng-show="form.dateFin.$error.required">Veuillez préciser une date.</span>
                <span class="text-danger" ng-show="!form.dateFin.$valid && !form.dateFin.$error.required">Veuillez préciser une date correcte.</span>
                <span class="text-danger" ng-show="indispo.start > indispo.end">La date de fin de ne peut pas être antérieure à la date de début.</span>
			</div>
			<div class="form-group">
                <div class="col-sm-offset-2">
                    <input type="submit" class="btn btn-default" value="Enregistrer" ng-disabled="form.$invalid || indispo.start > indispo.end"/>
                    <button type="submit" class="btn btn-default" ng-click="delete()" ng-hide="creation">Supprimer</button>
                    <button type="submit" class="btn btn-default" ng-click="cancel()">Annuler</button>
                </div>
		    </div>
		</form>
	</div>
</div>
