<div class="panel panel-default">
    <div class="panel-heading">Connexion</div>
	<div class="panel-body">
        <form name="form" method="post" ng-submit="submit()" novalidate>
            <div class="form-group">
                <label>Votre identifiant:</label>
                <input type="text" class="form-control" placeholder="Identifiant" ng-model="user.name" name="name" required/>
                <span class="text-danger" ng-show="form.name.$error.required">Veuillez préciser votre identifiant.</span>
            </div>
            <div class="form-group">
                <label>Votre mot de passe:</label>
                <input type="password" class="form-control" placeholder="Mot de passe" ng-model="user.password" name="password" required/>
                <span class="text-danger" ng-show="form.password.$error.required">Veuillez préciser votre mot de passe.</span>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Connexion</button>
                </div>
            </div>
        </form>
	</div>
</div>