<div class="panel panel-default">
	<div class="panel-heading" ng-hide="creation">Détails {{ personne.firstName }} {{ personne.lastName }}</div>
	<div class="panel-heading" ng-show="creation">Création d'utilisateur</div>
	<div class="panel-body">
		<form novalidate name="form" ng-submit="save(personne)">
			<div class="form-group">
				<label>Identifiant</label>
				<p class="form-control-static">{{ personne.login }}</p>
			</div>
			<div class="form-group">
				<label>Nom</label>
				<input type="text" class="form-control" name="lastName" ng-model="personne.lastName" required>
                <span class="text-danger" ng-show="form.lastName.$error.required">Veuillez préciser un nom.</span>
			</div>
			<div class="form-group">
				<label>Prénom</label>
				<input type="text" class="form-control" name="firstName" ng-model="personne.firstName" required>
                <span class="text-danger" ng-show="form.firstName.$error.required">Veuillez préciser un prénom.</span>
			</div>
			<div class="form-group">
				<label>e-mail</label>
				<input type="email" class="form-control" name="email" ng-model="personne.email" required>
                <span class="text-danger" ng-show="form.email.$error.required">Veuillez préciser un e-mail.</span>
                <span class="text-danger" ng-show="form.email.$error.email">Veuillez indiquer un e-mail correct.</span>
			</div>
			<div class="form-group">
				<label>Rôles :</label>
				<label data-ng-repeat="role in roles" class="checkbox-inline">
					<input type="checkbox" ng-model="formRoles[role.id]" id="{{ role.id }}"> {{ role.role }}
				</label>
			</div>
            <div class="form-group" ng-hide="creation">
				<label>Activé :</label>
                <input type="checkbox" ng-model="personne.enabled" ng-true-value="'1'" ng-false-value="'0'">
			</div>
			<div class="form-group">
                <div class="col-sm-offset-2">
                    <input type="submit" class="btn btn-success"  value="Enregistrer" ng-disabled="form.$invalid"/>
                    <button type="submit" class="btn btn-default" ng-click="cancel()">Annuler</button>
                </div>
		    </div>
		</form>
	</div>
</div>
