<div class="container-fluid">
	<div class="row">
		<h1 class="page-header col-md-12">
			Liste des utilisateurs
		</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table st-table="personnesView" st-safe-src="personnes"  class="table table-responsive table-hover">
				<thead>
					<tr>
						<th st-sort="login">Login</th>
						<th st-sort="firstName">Prénom</th>
						<th st-sort="lastName">Nom</th>
						<th st-sort="email">Mail</th>
						<th st-sort="roles">Rôles</th>
						<th>Statut</th>
						<th>Actions</th>
					</tr>
					<tr>
						<th>
							<input st-search="login" placeholder="recherche Login" class="input-sm form-control" type="search"/>
						</th>
						<th>
							<input st-search="firstName" placeholder="recherche Nom" class="input-sm form-control" type="search"/>
						</th>
						<th>
							<input st-search="lastName" placeholder="recherche Prenom" class="input-sm form-control" type="search"/>
						</th>
						<th>
							<input st-search="email" placeholder="recherche Mail" class="input-sm form-control" type="search"/>
						</th>
						<th>
							<input st-search="roles" placeholder="recherche Role" class="input-sm form-control" type="search"/>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="personne in personnesView">
						<td>{{ personne.login }}</td>
						<td>{{ personne.firstName }}</td>
						<td>{{ personne.lastName }}</td>
						<td>{{ personne.email }}</td>
						<td>
							<ul>
								<li data-ng-repeat="role in personne.roles">
									{{ role.role }}
								</li>
							</ul>
						</td>
						<td><span ng-class="{'glyphicon glyphicon-flash': personne.Statut===1, 'glyphicon glyphicon-off' : !personne.Statut===1 }"></span></td>
						<td>
							<div class="btn-group" dropdown keyboard-nav>
								<button id="simple-btn-keyboard-nav" type="button" class="btn btn-default" dropdown-toggle>
									Actions <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="menuitem"><a ng-click="openDetails(personne)">Editer</a></li>
									<li role="menuitem"><a ng-click="remove(personne)">Supprimer</a></li>									
								</ul>
							</div>
						</td>
					</tr>			
				</tbody>
			</table>
		</div>
		<div class="col-md-12">
			<button type="submit" class="btn btn-default" ng-click="openDetails(-1)">Créer Utilisateur</button>
		</div>
	</div>
</div>