<div class="container-fluid">
	<div class="row">
		<h1 class="page-header col-md-12">
			Liste des utilisateurs
		</h1>
	</div>
	<div class="row">
		<div ui-view></div>
		<div class="col-md-12">
			<table st-table="personnes" class="table table-responsive table-hover">
				<thead>
					<tr>
						<th st-sort="Nom">Nom</th>
						<th st-sort="Prenom">Prénom</th>
						<th st-sort="Mail">Mail</th>
						<th st-sort="Matiere">Matière</th>
						<th st-sort="Role">Rôles</th>
						<th st-sort="Statut">Statut</th>
						<th>Actions</th>
					</tr>
					<tr>
						<th>
							<input st-search="Nom" placeholder="recherche Nom" class="input-sm form-control" type="search"/>
						</th>
						<th>
							<input st-search="Prenom" placeholder="recherche Prenom" class="input-sm form-control" type="search"/>
						</th>
						<th>
							<input st-search="Mail" placeholder="recherche Mail" class="input-sm form-control" type="search"/>
						</th>
						<th>
							<input st-search="Matiere" placeholder="recherche Matiere" class="input-sm form-control" type="search"/>
						</th>
						<th>
							<input st-search="Role" placeholder="recherche Role" class="input-sm form-control" type="search"/>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="personne in personnes">
						<td>{{ personne.Nom }}</td>
						<td>{{ personne.Prenom }}</td>
						<td>{{ personne.Mail }}</td>
						<td>{{ personne.Matiere }}</td>
						<td>{{ personne.rolesString }}</td>
						<td><span ng-class="{'glyphicon glyphicon-flash': personne.Statut, 'glyphicon glyphicon-off' : !personne.Statut }"></span></td>
						<td>
							<div class="btn-group" dropdown keyboard-nav>
								<button id="simple-btn-keyboard-nav" type="button" class="btn btn-default" dropdown-toggle>
									Actions <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="menuitem"><a ng-click="openDetails(personne)">Editer</a></li>
									<li role="menuitem"><a ng-click="supprimer(personne)">Supprimer</a></li>									
								</ul>
							</div>
						</td>
					</tr>				
				</tbody>
			</table>
		</div>
	</div>
</div>