
body {
    margin:0;
    padding:0;
    border:none;
    font-size:12px;
    font-family:Arial, Helvetica, Verdana, sans-serif;
    font-weight:normal;
    color:#000;
    outline:none;
}
 
body, html {
    width:100%;
    height:100%;
}
 
body {
    background:#bbb;
    text-align:center;
    width:900px;
    margin:10px auto;
}
 
header {
    height:50px;
    margin:10px auto;
    background:#333;
    color:#fff;
    box-shadow:0px 5px 10px -2px #666;
}
 
#content {
    min-height:700px;
    margin:0 auto 10px auto;
    background:#fff;
    box-shadow:0px 5px 15px -5px #666;
}
 
header, #content {
    width:900px;
    border-radius:10px;
}
 
footer {
    width:900px;
    height:50px;
    margin:10px auto;
    color:#333;
}
 
#footerGauche {
    float:left;
    position:relative;
    left:5px;
}
 
#footerDroite {
    float:right;
    position:relative;
    right:5px;
}