<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">
			Liste des indisponibilités
		</h3>
	</div>
	<table st-table="indisposView" st-safe-src="indispos"  class="table table-responsive table-hover">
		<thead>
			<tr>
				<th st-sort="start">Début</th>
				<th st-sort="end">Fin</th>
                <th></th>
			</tr>
			<tr>
				<th>
					<input st-search="start" placeholder="recherche Début" class="input-sm form-control" type="search"/>
				</th>
				<th>
					<input st-search="end" placeholder="recherche Fin" class="input-sm form-control" type="search"/>
				</th>
                <th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="indispo in indisposView">
				<td>{{ indispo.start }}</td>
				<td>{{ indispo.end }}</td>
                <td><span class="glyphicon glyphicon-remove red" ng-click="remove(indispo)"></span></td>
			</tr>				
		</tbody>
        <tfoot>
			<tr>
				<td colspan="2"><button type="submit" class="btn btn-default" ng-click="openDetails(-1)">Ajouter une indisponibilité</button></td>
			</tr>
		</tfoot>
	</table>
</div>