<div class="row">
	<div class="col-md-3">
		<table st-table="enseignants" st-safe-src="enseignantsView" class="table table-responsive table-hover">
			<thead>
				<tr>
					<th st-sort="NomPrenom">Enseignants</th>
				</tr>
				<tr>
					<th>
						<input st-search="NomPrenom" placeholder="recherche" class="input-sm form-control" type="search"/>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="enseignant in enseignants" ui-sref="planification.enseignants.matieres({id:enseignant.id})">
					<td>{{ enseignant.firstName }} {{ enseignant.lastName}}</td>
				</tr>				
			</tbody>
		</table>
	</div>
	<div class="col-md-9" ui-view>		
	</div>
</div>