<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<h2>Section planificateur</h2>
			<ul class="nav nav-pills nav-stacked">
				<li><a ui-sref-active="active" ui-sref="planification.classes">Classes</a></li>
				<li><a ui-sref-active="active" ui-sref="planification.enseignants">Enseignants</a></li>
				<li><a ui-sref-active="active" ui-sref="planification.periodes">Emploi du temps</a></li>
			</ul>			
		</div>
		<div class="col-md-10" ui-view>
			<h1>Bonjour {{ user.name }}</h1>
			<div ng-controller="InfoPlanificateurController">
				<alert ng-repeat="message in messages" type="{{message.type}}" close="closeMessage($index)">{{ message.body }}</alert>
			</div>
		</div>
	</div>
</div>