<div class="radio">
  <label>
    <input type="radio" ng-model="time" value="1"  ng-change="change()">
    Matin
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" ng-model="time" value="2" ng-change="change()">
    Après-midi
  </label>
  <label>
    <input type="radio" ng-model="time" value="0" ng-change="change()">
    Dispo
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" ng-model="time" value="3"  ng-change="change()">
    Journée
  </label>
</div>