body {
	padding-top: 70px;
	}
	
.red {
	color : red;
}

.green {
	color: green;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.coursContainer .fc-bg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coursEvent .fc-bg {
    cursor: pointer;
}

.coursContainer .fc-bg div {
    color: black;
    font-size: 2em;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.day-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }