<table st-table="personnes" class="table table-responsive table-hover">
	<thead>
		<tr>
			<th st-sort="Annee">Année</th>
			<th st-sort="Classe">Classe</th>
			<th st-sort="ProfPrincipal">Professeur principal</th>
			<th>Actions</th>
		</tr>
		<tr>
			<th>
				<input st-search="Annee" placeholder="recherche Annee" class="input-sm form-control" type="search"/>
			</th>
			<th>
				<input st-search="Classe" placeholder="recherche Classe" class="input-sm form-control" type="search"/>
			</th>
			<th>
				<input st-search="ProfPrincipal" placeholder="recherche ProfPrincipal" class="input-sm form-control" type="search"/>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="personne in personnes">
			<td><a ui-sref="administration.details({id: personne.id})">{{ personne.Identifiant }}</a></td>
			<td>{{ personne.Nom }}</td>
			<td>{{ personne.Prenom }}</td>
			<td>{{ personne.Mail }}</td>
			<td>{{ personne.Matiere }}</td>
			<td>{{ personne.rolesString }}</td>
			<td>{{ personne.statusString }}</td>
			<td>{{ personne.Actions }}</td>
		</tr>				
	</tbody>
</table>