<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<h2>Section planificateur</h2>
			<ul class="nav nav-pills nav-stacked">
				<li><a ui-sref-active="active" ui-sref="planification.classes">Classes</a></li>
                <li><a ui-sref-active="active" ui-sref="planification.matieres">Matières</a></li>
				<li><a ui-sref-active="active" ui-sref="planification.enseignants">Enseignants</a></li>
				<li><a ui-sref-active="active" ui-sref="planification.calendar({id:-1})">Emploi du temps</a></li>
				<li><a ui-sref-active="active" ui-sref="planification.annee">Planning annuel</a></li>
			</ul>			
		</div>
		<div class="col-md-10" ui-view>
		</div>
	</div>
</div>