<!DOCTYPE html>
<html>
    <head>    
    	<title>Création de votre compte sur GPCI</title>
    </head>
    <body>
    	Votre compte a été créer sur le site GPCI.

    	Pour activer votre compte clicker sur le lien suivant ou copier le et coller le dans la barre d'adresse de votre navigateur. <br>
    	<a href="http://localhost/ProjetSIO/ProjetSIO/Backend/"{{ userid }}"/"{{ usertoken }}"/"></a><br>

    	Une fois votre compte activé un mot de passe vous sera généré aléatoirement et envoyer par mail.

    </body>
</html>